<h1>Edit attendance</h1>

<form id="edit-attendance" name="attendance">
  <div class="field">
    <label for="working_day"> working_day:</label>
    <input type="text" name="working_day" id="working_day" value="<%= working_day %>" >
  </div>

  <div class="field">
    <label for="working_time"> working_time:</label>
    <input type="text" name="working_time" id="working_time" value="<%= working_time %>" >
  </div>

  <div class="field">
    <label for="comment"> comment:</label>
    <textarea name="comment" id="comment"><%= comment %></textarea>
  </div>

  <div class="actions">
    <input type="submit" value="Update Attendance" />
  </div>

</form>

<a href="#/index">Back</a>