<h1>Listing attendances</h1>

<table id="attendances-table" class="table table-striped">
  <tr>
    <th>Working day</th>
    <th>Working time</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Attendance</a>