<h1>New attendance</h1>

<form id="new-attendance" name="attendance">
  <div class="field form-group">
    <label for="working_day"> working_day:</label>
    <input class="form-control" type="text" name="working_day" id="working_day" value="<%= working_day %>" >
    <div id='calendar' style='display: none;'>
      <span class='pick_date' data-date='2013-01-01'>1</span>
      <span class='pick_date' data-date='2013-01-02'>2</span>
      <span class='pick_date' data-date='2013-01-03'>3</span>
    </div>
  </div>

  <div class="field form-group">
    <label for="working_time"> working_time:</label>
    <input class="form-control" type="text" name="working_time" id="working_time" value="<%= working_time %>" >
  </div>

  <div class="field form-group">
    <label for="comment"> comment:</label>
    <textarea class="form-control" name="comment" id="commewnt" value="<%= comment %>" />
  </div>

  <div class="actions">
    <input class="btn btn-default" type="submit" value="Create Attendance" />
  </div>

</form>

<a href="#/index">Back</a>